body {
  background-color: black;
}
.message {
  color: green;
  font-size: 1.4em;
}
.options {
  list-style-type: none;
  color: gray;
  font-size: 1.2em;
}
.caret {
  content: ">";
  color: lightgreen;
  display: inline-block;
  margin: 0 10px;
  font-size: 1.2em;
}
.cursor {
  background: black;
  border: none;
  color: lightgreen;
  font-size: 1.2em;
}
.cursor:focus {
  outline: none;
}
